// Form

.field {
  width: 100%;
  margin-bottom: 15px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4px 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
  outline: none;
  display: block;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
}

textarea.field {
  min-height: 80px;
}
