// Icons

.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-size: 40px 40px;

  @media (min-width: 40em) {
    width: 28px;
    height: 28px;
    background-size: 28px 28px;
  }
}

.icon-facebook {
  background-image: url("../../images/fb.svg");
}

.icon-pinterest {
  background-image: url("../../images/pin.svg");
}
