// Modules

.modules {
  padding-top: 10px;

  @media (min-width: 40em) {
    margin-left: -17px;
  }
}

.module {
  margin-bottom: 40px;
  text-align: center;

  @media (min-width: 40em) {
    width: 33.333333333%;
    display: inline-block;
    margin-left: -3px;
    padding-left: 20px;
  }
}

.module img {
  width: 100%;
  margin-bottom: 15px;
}

.module h2 {
  padding-left: 10px;
  padding-right: 10px;
}
