// Navigation
//
// Main site navigation.

.nav-site {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-size: 15px;

  top: 100%;
  width: 100%;
  z-index: 3;
  background-color: #fdfdfd;
}

// new
.nav-site ul {
  padding: 10px 30px;
}

.nav-site a {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #ededed;

  &:after {
    content: "";
    float: right;
    width: 11px;
    height: 19px;
    margin-top: 2px;
    background-image: url("../../images/navarrow.svg");
    background-repeat: no-repeat;
  }
}

.nav-site li:last-child a {
  border-bottom: 0;
}

.nav-site .is-active {
  border-color: #bc9f75;
}

@media (min-width: 40em) {
  .nav-site {
    background-color: transparent;
  }

  .nav-site ul {
    padding: 0;
  }

  .nav-site a {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0;

    &:after {
      display: none;
    }
  }
}


.nav-language {
  top: 100%;
  width: 100%;
  z-index: 3;
  background-color: #fdfdfd;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
}

.nav-language ul {
  padding: 10px 30px;
}

.nav-language a {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #ededed;

  &:after {
    content: "";
    float: right;
    width: 11px;
    height: 19px;
    margin-top: 2px;
    background-image: url("../../images/navarrow.svg");
    background-repeat: no-repeat;
  }
}

.nav-language li:last-child a {
  border-bottom: 0;
}

.nav-language .is-active {
  border-color: #bc9f75;
}

@media (min-width: 40em) {
  .nav-language {
    max-width: 376px;
    right: 0;
    background-color: rgba(253, 253, 253, 0.9);
  }
}
// end new

.nav-site a {
  color: #4a4a4a;

  &:hover {
    color: #9b9b9b;
    text-decoration: none;
  }

  &.is-active {
    color: #bc9f75;
  }
}

.nav-toggle,
.nav-site-toggle {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 34px;
  height: 25px;
  background-image: url("../../images/burgernav.svg");
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;

  @media (min-width: 40em) {
    display: none;
  }
}

@media (min-width: 40em) {
  .nav-site {
    text-align: center;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-site li {
    display: inline-block;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.nav-language-toggle {
  display: block;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  right: 15px;
  padding-right: 25px;

  &:after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 18px;
    height: 18px;
    background-image: url("../../images/langarrow.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: 40em) {
    top: 20px;
  }
}
