// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: 40em) {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 60px;
  }
}

.pagination-prev,
.pagination-next,
a[rel="prev"],
a[rel="next"] {
  font-size: 14px;
  text-decoration: underline;
}

.pagination-prev, a[rel="prev"] {
  float: left;
}

.pagination-next, a[rel="next"] {
  float: right;
}

.pagination-back {
  margin-top: 42px;

  @media (min-width: 40em) {
    display: inline;
    margin-top: 0;
  }
}
