// Typography
//
// Headings, body text, lists, and other misc typographic elements.

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #bc9f75;
  text-transform: uppercase;
}

h1 {
  font-size: 28px;
  text-align: center;

  @media (min-width: 40em) {
    font-size: 36px;
  }
}

h2, h3 {
  font-size: 18px;
}

h4, h5, h6 {
  font-size: 16px;
}

p {
  margin-top: 0;
  margin-bottom: 15px;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 15px;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

address {
  font-style: normal;
}
